@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if(Model.Any())
{

}
else
{

}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                <p>Movie</p>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @foreach (var movies in Model)
                {
                    <p>@movies.Name</p>
                }
            </td>
        </tr>
    </tbody>
</table>