@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@if (!Model.Any())
{
    <p>We don't have any movies yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var movie in Model)
                {
                    // TO DO
                    <p>@Html.ActionLink(movie.Name, "Details", "Movie", new { id = movie.Id }, null)</p>
                }
            </td>
            <td>
                @foreach (var movie in Model)
                {
                <p>@movie.Genre.Name</p>
            }
        </td>
    </tr>
</tbody>
</table>
}